<div id="d1">
 <form role="form" name="loginForm" novalidate="">
 <div class="form-group">
  <label for="email">Email</label>
  <input type="email"
         name="email"
         class="form-control"
         id="email"
         placeholder="Введите email"
         ng-model="vm.email"
         required>
  <p class="text-danger"
     ng-show="(loginForm.email.$error.required && !loginForm.email.$pristine) || (loginForm.email.$pristine && vm.submitted)">Oops! Email is required.</p>
  <p class="text-danger"
     ng-show="loginForm.email.$error.email && !loginForm.email.$pristine">Oops! Email is incorrect.</p>

 </div>
 <div class="form-group">
  <label for="pass">Пароль</label>
  <input type="password"
         name="password"
         class="form-control"
         id="pass"
         placeholder="Пароль"
         ng-model="vm.password"
         required>
  <p class="text-danger"
     ng-show="(loginForm.password.$error.required && !loginForm.password.$pristine) || (loginForm.password.$pristine && vm.submitted)">Oops! Password is required.</p>
 </div>

 <button type="submit" class="btn btn-success" id="sub" ng-click="vm.login(loginForm.$valid)">Войти</button>
 <a ui-sref="registration">Регистрация</a>
</form>

</div>
