<section class="profile">
  <div class="profile__wrapper">
    <div class="profile__wrapper-avatar">
      <span class="profile__edit-avatar"></span>
      <input type="file" class="profile__input-avatar">
      <img ng-src="./img/user-avatars/{{ vm.avatar }}" alt="avatar" class="profile__avatar">
    </div>
    <form class="profile__form">
      <div class="form-group">
        <label for="inputName">Full Name</label>
        <input type="text" class="form-control" id="inputName" ng-model="vm.username">
      </div>
      <div class="form-group">
        <label for="inputPassword">Email</label>
        <input type="email" class="form-control" id="inputPassword" ng-model="vm.email">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</section>
