<section class="lists">
  <div class="lists__header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand lists__navbar" href="#">
            <img alt="Brand" src="./img/logo.png" class="lists__logo">
          </a>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-right">
          <div class="lists__userdata">
            <img src="./img/default-profile.png" alt="avatar" class="img-circle lists__avatar">
            <p class="lists__username">Trello user</p>
          </div>
          <!-- /.lists__userdata -->
        </div>
        <!-- /.navbar-right -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->
  </div>
  <!-- /.lists__header -->
  <div class="lists__wrapper">
    <div class="list__wrapper" ng-repeat="list in vm.listsTitle track by $index">
      <list data="list" reload="vm.removeList(title)"></list>
    </div>
    <div class="list__wrapper list__new well well-sm">
      <p class="list__new__placeholder"
         ng-click="vm.setVisibleNewList()"
         ng-hide="vm.visibleNewList">Add a list...</p>
      <input type="text"
             class="list__new__input"
             ng-model="vm.newListTitle"
             ng-show="vm.visibleNewList">
      <div class="list__new__controll" ng-show="vm.visibleNewList">
        <button type="button" class="btn btn-success card__new__add" ng-click="vm.createNewList()">Save</button>
        <button type="button" class="close card__new__close" aria-label="Close" ng-click="vm.visibleNewList = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      </div>
  </div>
  <!-- /.lists__wrapper -->
</section>
<!-- /.lists -->
