/* maybe one of background color background-color: #ffb96c; */

.lists {
  width: 100%;
}

.lists__navbar {
  padding: 0 15px;
  line-height: 50px;
}

.navbar-brand > .lists__logo {
  display: inline-block;
  width: 30px;
}

.lists__userdata {

}

.lists__avatar {
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.lists__username {
  display: inline-block;
  margin: 15px 10px;
  color: #777;
}

.lists__wrapper {
  margin: 20px 0;
}

.list__wrapper {
  width: 270px;
  height: 100%;
  margin: 0 8px;
  display: inline-block;
  vertical-align: top;
}

.list__wrapper:first-child {
  margin-left: 10px;
}

.list__new {
  display: inline-block;
}

.list__new__placeholder {
  margin: 0;
}

.list__new__input {
  width: 100%;
  display: block;
  outline: 0;
}

.list__new__controll {
  margin-top: 10px;
}
