<div class="list">
  <div class="list__header">
    <h4 class="list__header__text" ng-bind="data"></h4>
    <div class="list__settings" ng-click="showDropdown = !showDropdown">
      <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle cx="12" cy="12" r="2"/><circle cx="12" cy="5" r="2"/><circle cx="12" cy="19" r="2"/>
      </svg>
      <ul class="dropdown-menu list__dropdown" ng-show="showDropdown">
        <li><a href="" ng-click="removeList()">Remove list</a></li>
        <li><a href="">Make private</a></li>
      </ul>
    </div>
  </div>
  <!-- /.list__header -->
  <div class="list__cards" ui-tree>
    <div ui-tree-nodes="" ng-model="text">
      <card ng-repeat="card in text track by $index" data="card" ui-tree-node></card>
    </div>
    <!-- /.list__card -->
    <div class="card__new" ng-show="visibleNewCard">
      <div class="panel panel-default panel-default--margin">
        <div class="panel-body">
          <textarea class="card__new__textarea" ng-model="newCardsText" custom-focus="focusOn"></textarea>
        </div>
      </div>
      <div class="card__new__controll">
        <button type="button" class="btn btn-success card__new__add" ng-click="createNewCard()">Add</button>
        <button type="button" class="close card__new__close" aria-label="Close" ng-click="visibleNewCard = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <!-- /.list__cards -->
  <div class="list__footer">
    <a href="" ng-click="showNewCardInput()" ng-hide="visibleNewCard">Add a beer...</a>
  </div>
  <!-- /.list__footer -->
</div>
